.main-footer {

  .upperRow {
    column-gap: 250px;
    row-gap: 32px;

    .socialColumn {
      align-items: center;

      @include media-breakpoint-up(custom1) {
        align-items: stretch;
      }
    }
  }

  .logo {
    width: 200px;
    height: 200px;

    @include media-breakpoint-up(custom1) {
      margin-top: -50px
    }

  }
}