:root {
  --swiper-theme-color: #1C9B90 !important;
  --swiper-navigation-color: #1D3347 !important;
}

body.modal-open {
  position: fixed;
  overflow-y: scroll !important;
  width: 100%;
  padding-right: 0 !important;
}

.logo {
  @include media-breakpoint-up(sm) {
    width: 200px;
  }

  width: 150px;
  transition: transform 2s;

  &:hover {
    transform: scale(1.2);
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

a {
  text-decoration: none;
  color: unset;

  &:active {
    outline: none;
    color: unset;
  }

  &:visited {
    color: unset;
  }
}

button {
  &:focus {
    box-shadow: none !important;
    /* background-color: unset !important;
    color:map-get($theme-colors , "primary5" ) !important; */
  }
}

.carousel-indicators {
  button {
    border: none !important;
  }
}

/* .carousel-control-next-icon {
  background-image: url("/images/next-icon.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("/images/prev-icon.svg") !important;
} */

.carousel-control-prev,
.carousel-control-next {
  justify-content: normal !important;
  opacity: 1 !important;
  width: auto !important;
}

.carousel-control-next {
  right: 124px !important;
}

.carousel-control-prev {
  left: 62px !important;
}

.visually-hidden {
  display: none;
}

.idiomas-logo {
  /* width: 54.6px; */
  width: 80px;
}

.dropdown-logo {
  width: 56px;
}

.arrow-right {
  width: 32px;
  height: 32px;
}

.text-justify {
  &--mobile {
    @include media-breakpoint-down(sm) {
      text-align: justify;
    }
  }
}

/* .futuraLight {
  font-family: 'futura-light';
}

.futuraRegular {
  font-family: 'futura-regular';
}

.futuraMedium {
  font-family: 'futura-medium';
}

.futuraBold {
  font-family: 'futura-bold';
} */

/* .leagueRegular {
  font-family: 'League Gothic', serif;
} */

.trocchiRegular {
  font-family: 'Trocchi', serif;
}



a:hover {
  color: inherit !important;
}

.offcanvas-body {
  padding: 0px 1rem 1rem 1rem !important;
  overflow: hidden !important;
}


.divider {
  margin-top: 1.5rem;
  height: 1.5px;
  border-top: 1.5px solid black;


  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.swiper {
  width: 100%;
  height: 300px;

  @include media-breakpoint-up(custom1) {
    width: 1200px;
    height: 450px;
  }

  .swiper-slide {
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

.card-group>.card+.card {
  border-left: 1px solid rgba(0, 0, 0, 0.176) !important;
}

.goUpContainer {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 150px;
  bottom: 180px;
  box-shadow: none;
  transition: all .5s ease-in-out;

  @include media-breakpoint-up(custom1) {
    display: flex;
  }

  @include media-breakpoint-up(custom2) {
    right: 200px;
  }

  @include media-breakpoint-up(xxxl) {
    right: 220px;
  }

  @include media-breakpoint-up(xxxxl) {
    right: 400px;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}