@import "bootstrap/scss/functions";
/* $font-family-sans-serif:'Work Sans', sans-serif; */

$font-family-sans-serif:'Roboto', sans-serif;

$body-color:#000000;
$secondary:#5C5959;
/* 

$primary:#C3443E;
$secondary:#2E2E2E; */


/* $font-size-base:1rem;

$h1-font-size:$font-size-base * 2.1875;
$h2-font-size:$font-size-base * 1.5;
$h3-font-size:$font-size-base * 1.25;
$h4-font-size:$font-size-base * 1.125;
$h5-font-size:$font-size-base * 1.0625;
$h6-font-size:$font-size-base; */

/* $font-weight-bolder:800; */
/* $enable-important-utilities:false; */
/* $enable-negative-margins: true; */
$font-weight-bolder:800;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  custom1:1280px,
  custom2:1366px,
  xxl: 1400px,
  xxxl:1600px,
  xxxxl:1920px,
  vl:2560px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxxl:1632px
);


@import "bootstrap/scss/variables";

//Typography
$font-family-primary: $font-family-sans-serif;

/* 
$font-family-secondary: 'Poppins', sans-serif;
$font-family-tertiary: 'Montserrat', sans-serif; */

//Colors
/* $mu-rojo:$primary;
$mu-amarillo:#EED861;
$mu-azul:#436FAE;
$mu-verde:#60A16D;
$mu-negro:$secondary;
$mu-gris:#B7B7B7;
$desactivado:#898989;
$azul-texto:#1A36A8;
$gris-boton:#F2F2FD;

$degrade-subsecciones:linear-gradient(180deg,#1C34AF 0%, #13408B 100%);
$degrade-header:linear-gradient(180deg,#13408B 0%, #1C34AF 100%);
$overlay:rgba(0, 0, 0, 0.55);

$mu-fondo:linear-gradient(360deg, #EBEBFF 0%, $white 100%); 
$mu-fondo-mobile:linear-gradient(90deg, #EBEBFF 0%, $white 100%); 

$font-size-xsm:$font-size-base * .625; */

$basic1:#D6DBDF;
$basic2:$secondary;

$blue1:#326182;
$blue2:#427AA1;
$blue3:#DBE6ED;

$yellow1:#AA7C24;
$yellow2:#CC9832;
$yellow3:#F5ECD9;

