.hero-section{
  position: relative;
  height: 729px;
  .hero-image{
    z-index: -1;
  }
  .hero-text{
    bottom: 156px;
    left: 35px;
  }
  .hero-illustration{
    position: absolute;
    bottom: 0;
    right: 0;
    width:488px;
    height:308px;
  }
  .carousel-inner{
    height: 100%;
  }
}

.quienes-somos{
  
  .card{
    flex:unset;
    @include media-breakpoint-up(md){
      
      width: 389px;
      
    }
    width: 100%;
    height: 478px;
  }
  .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-img-overlay{
    background-color: rgba(0, 0, 0, .4);
  }
  
}