.nosotros-page{
  .col,.col-auto{
    span{
      display: block !important;
    }
  }

  .nosotros-img{
    /* @include media-breakpoint-up(xxl){  
      width: 720px;
      height: 400px;
    } */
    width:100%;
    height: 100%;

    
  }
}